* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {  
    display: grid;
    place-content: center;
    height: 100%;
    font-family: sans-serif;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    transition: display 1s

}

.gameboard div{
    width: 50%;
    height: 50%;
    transition: .5s
}

.celeste {
    background-color: #22a6b3;
}

.celeste.light {
    background-color: #7ed6df;
}

.violeta {
    background-color: #d32df8;
}


.violeta.light {
    background-color: #e056fd;
}

.naranja {
    background-color: #f0932b;
}


.naranja.light {
    background-color: #ffbe76;
}

.verde {
    background-color: #6ab04c;
}


.verde.light {
    background: #badc58;
}

.button-container {
    display: grid;
    place-content: center;
    margin-bottom: 10px;
}

.btn-start {
    cursor: pointer;
    width: 100%;
    background: #ecf0f1;
    padding: 10px;
    color: #2c3e50;
    border: none;
    border-bottom: 4px solid #c4c6c7;
    border-radius: 8px;
    font-size: 2rem;
    transition: opacity .5s;
    outline: none;
}

.button-container:hover .btn-start {
    transition: .5s;
    color: #ecf0f1;
    background: #2c3e50;
    border-bottom: 4px solid #1f3346;
    transform: scale(.6);
}

.hide {
    display: none;
}

.opacity {
    opacity: .1;
}

span {
    position: absolute;
    top: calc( 50% + 200px);
    left: calc( 50% - 60px);
    width: 100px;
    padding: 10px;
    display: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

.green {
    background-color: #6ab04c;
    display: inline-block;
}
.pink {
    background-color: #d32df8;
    display: inline-block;
}
.orange {
    background-color: #f0932b;
    display: inline-block;
}
.blue {
    background-color: #22a6b3;
    display: inline-block;
}


